In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
# paths
## Metadata
metadata_dir = "/u/project/ngarud/michaelw/hsiao_data/tables/"
## sample report
sample_report_path = "%ssample_report.csv" % (metadata_dir)
## output path
read_mapping_out_path = "%ssample_report_Mv3_ReadMapping.csv" % (metadata_dir)
## MIDASv3 output directory
MIDASv3_output_dir = "/u/project/ngarud/Garud_lab/hsiao_data/MIDASv3_output/"

In [3]:
# load sample report
sample_report = pd.read_csv(sample_report_path, index_col=0)

In [4]:
# accession list
accession_list = [accession.split("_")[0] for accession in sample_report.Accession]

In [5]:
# build mapped reads dictionary
mapped_reads_dict = dict({})
for accession in accession_list:
    # summary paths
    genes_summary_path = "%s%s/genes/genes_summary.tsv" % (MIDASv3_output_dir, accession)
    snps_summary_path = "%s%s/snps/snps_summary.tsv" % (MIDASv3_output_dir, accession)

    # load summary files
    genes_summary = pd.read_csv(genes_summary_path, sep = "\t")
    snps_summary = pd.read_csv(snps_summary_path, sep = "\t")

    # calculate mapped reads
    genes_mapped_reads = genes_summary.sum()['mapped_reads']
    snps_mapped_reads = snps_summary.sum()['mapped_reads']

    # add to dictionary
    mapped_reads_dict[accession] = dict({"genes": genes_mapped_reads, "snps": snps_mapped_reads})

In [6]:
# annotate sample report file with mapped read counts
sample_report['MIDASv3_Mapped_Reads_genes'] = sample_report.Accession.str.split("_").str[0].apply(lambda x: mapped_reads_dict[x]['genes'])
sample_report['MIDASv3_Mapped_Reads_snps'] = sample_report.Accession.str.split("_").str[0].apply(lambda x: mapped_reads_dict[x]['snps'])
sample_report['MIDASv3_PercentMapped_genes'] = sample_report['MIDASv3_Mapped_Reads_genes']/sample_report['Total_coverage']
sample_report['MIDASv3_PercentMapped_snps'] = sample_report['MIDASv3_Mapped_Reads_snps']/sample_report['Total_coverage']

In [8]:
# Saving
sample_report.to_csv(read_mapping_out_path, index = False)

In [11]:
## TEST
accession = "35-2mo-3-hTau-B2-Female"
# summary paths
genes_summary_path = "%s%s/genes/genes_summary.tsv" % (MIDASv3_output_dir, accession)
snps_summary_path = "%s%s/snps/snps_summary.tsv" % (MIDASv3_output_dir, accession)

# load summary files
genes_summary = pd.read_csv(genes_summary_path, sep = "\t")
snps_summary = pd.read_csv(snps_summary_path, sep = "\t")

In [14]:
genes_summary

,species_id,pangenome_size,covered_genes,fraction_covered,aligned_reads,mapped_reads,mean_depth,marker_depth
0,142728,3961,3606,0.910,207824,177516,6.886,6.102
1,141329,1687,706,0.418,83546,73888,16.533,4.883
2,141274,811,691,0.852,120723,107997,20.426,18.437
3,138779,5176,4550,0.879,693015,604124,18.777,15.869
4,137981,3491,3080,0.882,164046,135182,6.411,3.285
5,137434,2035,1897,0.932,185924,154037,10.265,9.306
6,132831,3971,3439,0.866,619029,557685,21.129,19.156
7,130685,2863,2802,0.979,153947,110762,5.875,4.514
8,129214,4704,3890,0.827,182932,153125,5.895,5.107
9,128931,2226,2052,0.922,465422,424369,30.023,31.121
10,128185,1902,1786,0.939,13113381,12254165,824.550,758.347
11,121662,3039,2369,0.780,104206,83845,5.224,4.722
12,121364,1372,1241,0.905,68977,63391,7.575,8.478
13,118079,1245,1126,0.904,61906,57108,7.328,5.519
14,114332,2241,1761,0.786,90427,77372,5.156,3.712
15,112332,7301,5981,0.819,1214921,1055843,23.979,25.895
16,110884,4859,4091,0.842,357150,295579,10.140,8.410
17,109339,2245,2096,0.934,975651,894954,63.742,57.813
18,108721,9496,5841,0.615,276081,218475,5.859,2.601
19,107220,4786,3595,0.751,301607,247107,9.192,6.751
20,103955,3778,2854,0.755,11665209,10882202,472.045,584.379
21,103753,3492,2484,0.711,479679,358545,21.150,18.187
22,101347,7694,5065,0.658,23756043,21998632,546.648,865.091
23,101186,6773,4653,0.687,5111357,4462311,143.019,126.030
24,101047,8450,5657,0.669,7067838,6265777,142.160,190.003
25,100520,6016,3670,0.610,5834239,5367211,203.338,331.125
26,100304,10842,6959,0.642,44111541,40804966,823.282,2423.151
27,100224,24052,12442,0.517,4967007,4609514,46.092,306.703